.header { 
    display: flex;
    background-color: #d9e0f7;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    color: rgb(14, 11, 36);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .content { 
    margin: auto;
    display: flex;
    background-color: #98bfda;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(14, 11, 36);
    padding: 30px;
    font-size: 16px;
  }