/* || general setup */

.html {
  font-size: 10px;
  background-color: #FCC679;
}

.header {
  width: 100%;
}

.body {
  width: 100%;
  margin: 0px;
  background-color: #FCC679;
}

/* || typography */

.headtext {
  font-family: "Impact";
  color: #ffffff;
  font-size: 6rem;
}

.contenthead {
  font-family: "Impact";
  font-size: 3rem;
}

.wrapper {
  font-family: "Arial";
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* || header layout */

.header {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #2881AD;
}

.headtext {
  text-align: left;
  flex: 5;
  align-items: center;
  padding: 20px;
}

.headpic {
  width: 10%;
  height: 10%;
  align-items: center;
  padding: 20px;
}

/* || main layout */

.wrapper {
  width: 960px;
  align-content: center;
  display: flex;
  margin: auto;
  padding-top: 15px;
}

.contentbody {
  width: 310px;
  padding-right: 15px;
}

.workhistory {
  width: 630px;
  background-color: #ffffff;
  padding: 20px;
}

.bodypic {
  width: 300px;
  border: 1px solid #ff0000;
  border-radius: 4px;
}

.caption {
  background-color: #ffffff;
  padding: 5px;
}

/* || breakpoints */

@media only screen and (max-width: 1000px) {
  .headpic {
    height: 15%;
    width: 15%;
  }

  .wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
  }

  .contentbody {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }

  .bodypic {
    flex-basis: 60%;
    width: 360px;
    align-self: center;
    border: 1px solid #ff0000;
    border-radius: 4px;

  }

  .caption {
    flex-basis: 30%;
    width: 180px;
    align-self: center;
    background-color: #ffffff;
  }

  .workhistory {
    width: 600px;
  }
}