/* || breakpoints */

@media (max-width: 1000px) {
  .headpic {
    height: 20%;
    width: 20%;
  }

  .wrapper {
    display: flex;
    margin: auto;
  }

  .contentbody {
    justify-content: space-between;
  }
}

/* || general setup */

.html {
  font-size: 10px;
  background-color: #FCC679;
}

.header {
  width: 100%;
  padding-bottom: 15px;
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FCC679;
}

/* || typography */

.headtext {
  font-family: "Impact";
  color: #ffffff;
  font-size: 6rem;
}

.contenthead {
  font-family: "Impact";
  font-size: 3rem;
}

.wrapper {
  font-family: "Arial";
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

.header {
  margin-bottom: 10px;
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: #2881AD;
  padding:  20px;
}

.headtext {
  text-align: left;
  flex: 5;
  align-items: center;
}

.headpic {
  width: 10%;
  height: 10%;
  justify-content: flex-end;
}

/* || main layout */

.wrapper {
  width: 960px;
  align-content: center;
  display: flex;
  margin: auto;
}

.contentbody {
  width: 310px;
  padding: 10px;
}

.workhistory {
  width: 630px;
  background-color: #ffffff;
  padding: 20px;
}

.bodypic {
  width: 300px;
  border: 1px solid #ff0000;
  border-radius: 4px;
}

.caption {
  background-color: #ffffff;
  padding: 5px;
}
